In [15]:
import pandas as pd
data=pd.read_csv('information_and_organization_journal_articles.csv')
data.head()

,URL,Journal_Title,Article_Title,Volume_Issue,Month_Year,Abstract,Keywords,Author_name,Author_email,Author_Address
0,https://www.sciencedirect.com/science/article/...,Information and Organization,Expert-AI pairings: Expert interventions in AI...,"Volume 34, Issue 4",December 2024,•\nExpert-AI pairings are practices of combini...,[],Ignacio Fernandez Cruz,ignacio@northwestern.edu,"School of Communication, Northwestern Universi..."
1,https://www.sciencedirect.com/science/article/...,Information and Organization,Beyond connectivity: Artificial intelligence a...,"Volume 34, Issue 4",December 2024,•\nBy creating a digital space where users int...,"['Artificial intelligence', 'Machine learning'...",José F.P. dos Santos,NaN,Affilliated Professor of Practice in Global Ma...
2,https://www.sciencedirect.com/science/article/...,Information and Organization,Beyond connectivity: Artificial intelligence a...,"Volume 34, Issue 4",December 2024,•\nBy creating a digital space where users int...,"['Artificial intelligence', 'Machine learning'...",Peter J. Williamson,p.williamson@jbs.cam.ac.uk,Affilliated Professor of Practice in Global Ma...
3,https://www.sciencedirect.com/science/article/...,Information and Organization,The same but different: Understanding variatio...,"Volume 34, Issue 4",December 2024,"•\nThe initiation, selection, design, implemen...",[],Yennef Vereycken,yennef.vereycken@kuleuven.be,"KU Leuven, Belgium"
4,https://www.sciencedirect.com/science/article/...,Information and Organization,The same but different: Understanding variatio...,"Volume 34, Issue 4",December 2024,"•\nThe initiation, selection, design, implemen...",[],Anne Guisset,anne.guisset@kuleuven.be,"KU Leuven, Belgium"

In [8]:
print(data.info())
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   URL             794 non-null    object
 1   Journal_Title   794 non-null    object
 2   Article_Title   794 non-null    object
 3   Volume_Issue    794 non-null    object
 4   Month_Year      794 non-null    object
 5   Abstract        790 non-null    object
 6   Keywords        794 non-null    object
 7   Author_name     764 non-null    object
 8   Author_email    638 non-null    object
 9   Author_Address  764 non-null    object
dtypes: object(10)
memory usage: 62.2+ KB
None
URL                 0
Journal_Title       0
Article_Title       0
Volume_Issue        0
Month_Year          0
Abstract            4
Keywords            0
Author_name        30
Author_email      156
Author_Address     30
dtype: int64

In [9]:
df = data.fillna('NULL')

In [10]:
print(data.describe())

                                                      URL  \
count                                                 794
unique                                                349
top     https://www.sciencedirect.com/science/article/...
freq                                                    7

                       Journal_Title  \
count                            794
unique                             1
top     Information and Organization
freq                             794

                                            Article_Title        Volume_Issue  \
count                                                 794                 794
unique                                                349                  94
top     Knowledge Commoning: Scaffolding and Technofic...  Volume 33, Issue 1
freq                                                    7                  27

         Month_Year                                           Abstract  \
count           794                                                790
unique           89                                                344
top      March 2023  •\nLocally relevant knowledge possessed by rur...
freq             27                                                  7

       Keywords   Author_name             Author_email  \
count       794           764                      638
unique       34           580                      530
top          []  Neil Pollock  m.barrett@jbs.cam.ac.uk
freq        697             9                        6

                   Author_Address
count                         764
unique                        610
top     McGill University, Canada
freq                            6

In [11]:
df = data.where(pd.notna(data), None)

In [12]:
df = data.replace("", None)  # Replaces empty spaces with None

In [13]:
import matplotlib.pyplot as plt

data.plot()
plt.show()

TypeError: no numeric data to plot

In [14]:
import pandas as pd
import mysql.connector
import json

# Connect to MySQL
#Used the DSS_new for date matching
db = mysql.connector.connect(
        host=  "127.0.0.1",
        user= "root",
        password="Nanna&143",
        database="journals",
        auth_plugin='mysql_native_password')
    
cursor = db.cursor()
# Insert data into MySQL
for index, row in df.iterrows():
    standard_name=row["Standardized_Name"] if row['Standardized_Name'] else None
    # keywords = json.dumps(row['Keywords']) if row['Keywords'] else None  # Handle JSON
    # url=row["URL"] if row['URL'] else None
    # journal_title=row["Journal_Title"] if row['Journal_Title'] else None
    # volume_issue=row["Volume_Issue"] if row['Volume_Issue'] else None
    # month_year=row["Month_Year"] if row['Month_Year'] else None
    # abstract=row["Abstract"] if row['Abstract'] else None
    author_name=row["Author_Name"] if row['Author_Name'] else None
    # author_email=row["Author_Email"] if row['Author_Email'] else None
    # author_address=row["Author_Address"] if row['Author_Address'] else None
    

    try:
        sql = """
        Update Journal_Articles
        set Standardized_Name=%s
        where author_name=%s;
        """
        values = (
            standard_name,author_name
        )
        
        cursor.execute(sql, values)
    except Exception as e:
        print(f"Error inserting data: {e}{row["URL"]}")
        break
# Commit & close connection
db.commit()
cursor.close()
db.close()

print("Data inserted successfully!")

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (61)

In [ ]:
#For the decision support systems titles
import pandas as pd
import mysql.connector
import json

#connect to mysql
db=mysql.connector.connect(
    host="127.0.0.1",
    user='root',
    password='Nanna&143',
    database='journals',
    auth_plugin='mysql_native_password'
)
cursor=db.cursor()
for index, row in df.iterrows():
    title = row["Title"] if row["Title"] else None
    url = row["URL"] if row["URL"] else None
    vol_year=row["Vol Issue Year"] if row["Vol Issue Year"] else None

    try:
        sql = """
        INSERT INTO DecisionSupportSystems
        (Title, URL, vol_issue_year)
        VALUES (%s, %s, %s)
        """
        values = (title, url, vol_year)
        cursor.execute(sql, values)
    except Exception as e:
        print(f"Error inserting data: {e} {row['Title']}")
        break

db.commit()
cursor.close()
db.close()

In [ ]:
import mysql.connector
import pandas as pd

db = mysql.connector.connect(
        host=  "127.0.0.1",
        user= "root",
        password="Nanna&143",
        database="journals",
        auth_plugin='mysql_native_password')

# Define the SQL query
query = "SELECT * FROM Journal_Articles"

# Read data into a Pandas DataFrame
df = pd.read_sql(query, db)

# Export DataFrame to Excel
df.to_excel("Journal_Articles_new.xlsx", index=False, engine="openpyxl")

# Close the database connection
db.close()

print("Data exported successfully to Journal_Articles.xlsx")

/var/folders/pk/rsrc4d3x4vdgqzfqp8r7lw080000gn/T/ipykernel_99855/2316557836.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, db)

Data exported successfully to Journal_Articles.xlsx